---
import MdiKeyboardArrowRight from "~icons/mdi/keyboard-arrow-right";
import MdiGithub from "~icons/mdi/github";
import IcBaselineDiscord from '~icons/ic/baseline-discord';
import MdiTelegram from "~icons/mdi/telegram";
import MdiEmailOutline from "~icons/mdi/email-outline";
---

<header
    class="border-b border-border bg-background tracking-[0.08em] backdrop-blur text-text"
>
    <div class="h-24">
        <div class="flex justify-between h-full">
            <div class="flex">
                <div
                    class="w-24 h-24 border-r border-border justify-center items-center flex"
                >
                    temp
                </div>

                <div
                    class="flex flex-col h-full border-r text-lg border-border"
                >
                    <div
                        class="flex-1 flex items-center border-border border-b px-5"
                    >
                        Try with ssh below
                    </div>
                    <div class="flex-1 flex items-center px-5">
                        $ ssh ssh.yorukot.me
                    </div>
                </div>
            </div>
            <div class="h-full flex items-stretch">
                <div
                    class="grid grid-cols-2 h-full gap-px bg-border border-x border-border"
                >
                    <div class="header-link px-4">
                        <span class="header-link-content">
                            <MdiKeyboardArrowRight /> About
                        </span>
                    </div>
                    <div class="header-link px-4">
                        <span class="header-link-content">
                            <MdiKeyboardArrowRight /> Blog
                        </span>
                    </div>
                    <div class="header-link px-4">
                        <span class="header-link-content">
                            <MdiKeyboardArrowRight /> Projects
                        </span>
                    </div>
                    <div class="header-link px-4">
                        <span class="header-link-content">
                            <MdiKeyboardArrowRight /> Contact
                        </span>
                    </div>
                </div>

                <div
                    class="grid grid-cols-2 h-full aspect-square gap-px bg-border"
                >
                    <div class="header-link header-link-icon">
                        <span class="header-link-content header-link-content-icon">
                            <MdiGithub />
                        </span>
                    </div>
                    <div class="header-link header-link-icon">
                        <span class="header-link-content header-link-content-icon">
                            <IcBaselineDiscord />
                        </span>
                    </div>
                    <div class="header-link header-link-icon">
                        <span class="header-link-content header-link-content-icon">
                            <MdiTelegram />
                        </span>
                    </div>
                    <div class="header-link header-link-icon">
                        <span class="header-link-content header-link-content-icon">
                            <MdiEmailOutline />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    .header-link {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: var(--color-background);
    }

    .header-link::before {
        content: "";
        position: absolute;
        inset: 0;
        transform: scaleX(0);
        transform-origin: left;
        background: var(--color-text);
        transition: transform 300ms ease-out;
    }

    .header-link:hover::before {
        transform: scaleX(1);
    }

    .header-link-content {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        transition: color 300ms ease-out;
    }

    .header-link:hover .header-link-content {
        color: var(--color-background);
    }

    .header-link-icon {
        justify-content: center;
    }

    .header-link-content-icon {
        font-size: 1.25rem;
    }
</style>
