@import "tailwindcss";

:root {
    --background: hsl(0 0% 0%);
    --border: hsl(0 0% 19%);
    --text: hsl(0 0% 78%);
    --primary: hsl(27, 99%, 59%);

    --boids-node: hsl(0 0% 95%);
    --boids-line: hsl(0 0% 62%);
    --boids-ring: hsl(0 0% 85%);
    --boids-bg-glow: 0 0% 78%;
    --boids-bg-sheen: 0 0% 100%;
    --film-grain-opacity: 0.18;

    --font-sans: "Space Grotesk", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-border: var(--border);
    --color-text: var(--text);

    --font-sans: var(--font-sans);
}

html {
    font-family: var(--font-sans);
}
